---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import {getCollection} from "astro:content";

const {slug} = Astro.params;
export const getStaticPaths = (async () => {
    const collections = await getCollection("education");
    return collections.map(({data})=> ({params: {slug:data.slug}}))
}) satisfies GetStaticPaths;

const posts = await getCollection("education");
const currentPost = posts?.find(post=> post.slug === slug);
if(!currentPost) return;
const {Content} = await currentPost.render();
---

<Layout title={currentPost.data.title} description={currentPost.data.description}>
    <main class="w-full flex flex-col justify-center items-center border py-16 p-3 lg:px-0">
        <div class="lg:max-w-[700px] w-full mb-4">
            <a class="no-underline hover:text-blue-700 cursor-pointer" href="/educacion/principal">Volver al índice</a>
        </div>
        <article class="md:prose lg:max-w-[700px] prose w-full prose-h4:text-lg prose-h5:font-semibold">
            <Content/>
        </article>
        <div class="lg:max-w-[700px] w-full mt-4">
            <a class="underline text-blue-700 hover:text-blue-700 cursor-pointer font-bold" href="/educacion/principal">Volver al índice</a>
        </div>
    </main>
</Layout>